.mouse {
  display: inline-block;
  width: 30px;
  height: 46px;
  border: 5px solid #fff;
  border-radius: 15px;
}
.mouse > .wheel {
  display: inline-block;
  width: 5px;
  height: 8px;
  background-color: #fff;
  border-radius: 3px;
  animation-name: mouseScroll;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes mouseScroll {
  0% {
    transform: translateY(5px);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(22px);
    opacity: 0;
  }
}